 MSH


// sending application
"MSH.3" must be not empty
// receiving application
"MSH.5" must be not empty
// version is required
"MSH.12" must match r"\d+\.\d+"